$family: (
  sans: 'Be Vietnam Pro',
);

$fontSize: (
  2xs: 0.8125rem,
  xs: 0.875rem,
  sm: 0.9375rem,
  base: clamp(0.875rem, 0.81rem + 0.26vw, 1rem),
  lg: clamp(1.875rem, 1.57rem + 1.33vw, 2.5rem),
  xl: clamp(2.5rem, 2.02rem + 2.13vw, 3.5rem),
);

$fontWeight: (
  normal: 400,
  medium: 500,
  bold: 700,
);

$colors: (
  neutral-100: hsl(13, 100%, 96%),
  neutral-800: hsl(232, 12%, 13%),
  neutral-900: hsl(0, 0%, 7%),
  primary-400: hsl(12, 88%, 59%),
  orange-400: hsl(12, 88%, 59%),
);
